// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$bleu: #22223bff;
$gris-bleu: #4a4e69ff;
$taupe: #9a8c98ff;
$beige: #c9ada7ff;
$blanc: #f2e9e4ff;
