.grid-container-show {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  // margin: 100px auto;
}

.me-section {
  flex-grow: 1;
  background-color: $taupe;
  padding: 15px;
  margin-right: 10px;
  min-height: 246px;
  border-radius: 3px;
  position: relative;
}

.relatives-section {
  width: 140px !important;
  height: 140px !important;
  border-radius: 5px;
  &:hover {
    opacity: 0.9;
  }
}

.basic-info {
  text-align: center;
  width: 100%;
  position: relative;
}

.basic-info:before {
  content : "";
  position: absolute;
  left    : 25%;
  bottom  : -15px;
  height  : 1px;
  width   : 50%;  /* or 100px */
  border-bottom:2px solid $bleu;
}

.basic-info p, .basic-info h2 {
  margin: 4px;
  color: $bleu;
}

.basic-info h2 {
  font-size: 36px;
  color: $blanc
}

.basic-info p {
  font-size: 16px;
  font-style: italic;
}

.relatives {
}

#description-section {
  padding:40px;
  margin: auto;
}

.margin-auto {
  margin: auto;
  margin-top: 30px;
}

.margin-image {
  display: block;
  margin: auto;
  margin-top: 30px;
}

.edit-section {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.tree-zoom {
  margin-right: 10px;
}

.contact-section {
  background-color: $gris-bleu;
  width: 290px !important;
  margin-top: 10px;
  border-radius: 3px;
}

.contact-section h2 {
  position: relative;
}

.contact-section h2:before {
  content : "";
  position: absolute;
  left    : 25%;
  bottom  : -15px;
  height  : 1px;
  width   : 50%;  /* or 100px */
  border-bottom:2px solid $blanc;
}

.grid-some {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

i::before,
i::after {
    content: '';
    flex: 1 0 auto;
}
