.grid-container-show {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  // margin: 100px auto;
}

.me-section {
  grid-column: 1/4;
  grid-row: 1/5;
}

.relatives-section {
  width: 100% !important;
  height: 100% !important;
}
