.grid-container-show {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  // margin: 100px auto;
}

.me-section {
  flex-grow: 1;
  background-color: $taupe;
  padding: 15px;
  margin-right: 10px;
  min-height: 246px;
}

.relatives-section {
  width: 150px !important;
  height: 150px !important;
  border-radius: 5px;
}

.basic-info {
  margin-left: 20px;
  text-align: center;
  width: 100%;
  position: relative;
}

.basic-info:before {
  content : "";
  position: absolute;
  left    : 25%;
  bottom  : 0;
  height  : 1px;
  width   : 50%;  /* or 100px */
  border-bottom:2px solid $bleu;
}

.basic-info p, .basic-info h2 {
  margin: 4px;
  color: $bleu;
}

.basic-info h2 {
  font-size: 36px;
  color: $blanc
}

.basic-info p {
  font-size: 16px;
  font-style: italic;
}

.relatives {
  border: 1px solid $taupe;
  padding: 15px;
  box-shadow: 0 0 1px grey;
}

#description-section {
  padding:40px;
  margin: auto;
}
