<div class="container fix-footer">
  <h1>Vos familles</h1>
  <div class='mt-3'>
    <% @families.each do |family| %>
      <%= link_to family_profiles_path(family.id), class:'card-family' do  %>
          <% if family.photo.attached? %>
              <%= cl_image_tag family.photo.key, class: 'avatar-family' %>
              <p> <%= "Famille #{family.name}" %> </p>
          <% else %>
              <div class="avatar-family default"></div>
              <p> <%= "Famille #{family.name}" %> </p>
          <% end %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>


