<div class="container fix-footer">
  <h1>Your families</h1>
    <% @families.each do |family| %>
      <div class='card-family' >
        <%= link_to family.name, family_profiles_path(family.id) %>
      </div>
    <% end %>
</div>


