<div class="container fix-footer">
  <h1 class="bleu-color text-center" style='font-size: 40px;'>Vos familles</h1>
  <div class='mt-3'>
    <% @families.each do |family| %>
      <%= link_to family_profiles_path(family.id), class:'card-family' do  %>
              <p> <%= "Famille #{family.name}" %> </p>
      <% end %>
      </div>
    <% end %>
  </div>
</div>


