<% if current_user == nil %>
  <div class="navbar-lewagon justify-content-end">
    <%= link_to "S'identifier", user_session_path %>
  </div>
<% elsif controller_name == "families" && action_name == 'index' %>
    <div class="navbar-lewagon justify-content-center">
        <%= render 'shared/small_tree' %>
    </div>
<% else %>
  <div class="navbar-lewagon justify-content-center">
    <a href="#">Arbre</a>
    <a href="#">Actualités</a>
    <%= link_to "Déconnecter", destroy_user_session_path, method: :delete %>
  </div>
<% end %>
