.card-family {
  background-color: $gris-bleu;
  width: 300px;
  height:200px;
  color: $blanc;
  box-shadow: 0 0 2px grey;
  border-radius: 10px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-family p {
  font-size: 24px;
  margin-top: 10px;
}



