.navbar-lewagon {
  justify-content: space-between;
  background-color: $bleu;
  height: 50px;
  box-shadow: 0 0 1px $bleu;
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 10;
}

.navbar-lewagon a {
  font-size: 16px;
  text-transform: uppercase;
  color: $blanc;
  margin-top: 0.5rem;
  text-decoration: none;
  font-family: $title;
  margin-right: 30px;
  margin-left: 30px;
  position: relative;
  &:hover{
    cursor: pointer;
  };
}

.navbar-lewagon a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: $blanc;
  visibility: hidden;
  border-radius: 1px;
  transform: scaleX(0);
  transition: .25s linear;
}

.navbar-lewagon > a:hover:before,
.navbar-lewagon > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
